		<div class="row">
			<div class="span12">
				<div class="search_list all_entries" style="{if segment_2 != 'alpha'}display:none;{/if}">
				
				
<p>click on a letter to filter by last name</p>
<ul class="inline border-bottom">
<li><a href="/clients/alpha/a">a</a></li>
<li><a href="/clients/alpha/b">b</a></li>
<li><a href="/clients/alpha/c">c</a></li>
<li><a href="/clients/alpha/d">d</a></li>
<li><a href="/clients/alpha/e">e</a></li>
<li><a href="/clients/alpha/f">f</a></li>
<li><a href="/clients/alpha/g">g</a></li>
<li><a href="/clients/alpha/h">h</a></li>
<li><a href="/clients/alpha/i">i</a></li>
<li><a href="/clients/alpha/j">j</a></li>
<li><a href="/clients/alpha/k">k</a></li>
<li><a href="/clients/alpha/l">l</a></li>
<li><a href="/clients/alpha/m">m</a></li>
<li><a href="/clients/alpha/n">n</a></li>
<li><a href="/clients/alpha/o">o</a></li>
<li><a href="/clients/alpha/p">p</a></li>
<li><a href="/clients/alpha/q">q</a></li>
<li><a href="/clients/alpha/r">r</a></li>
<li><a href="/clients/alpha/s">s</a></li>
<li><a href="/clients/alpha/t">t</a></li>
<li><a href="/clients/alpha/u">u</a></li>
<li><a href="/clients/alpha/v">v</a></li>
<li><a href="/clients/alpha/w">w</a></li>
<li><a href="/clients/alpha/x">x</a></li>
<li><a href="/clients/alpha/y">y</a></li>
<li><a href="/clients/alpha/z">z</a></li>
</ul>
								
<div class="search_list_content" style="width: 100%;margin-bottom: 3em;">
{exp:query sql="SELECT field_id_3, url_title, title
FROM exp_channel_titles LEFT JOIN exp_channel_data 
ON exp_channel_titles.entry_id = exp_channel_data.entry_id
WHERE exp_channel_titles.channel_id = '2'
AND status = 'open'
AND field_id_3 LIKE '{segment_3}%'
ORDER BY field_id_3 
limit 100000"}
<a href="/client/{url_title}">
<div class="tabular_data">{title}</div></a>{/exp:query}</div>



				</div>
			</div>	
		</div>


{!-- bp added AND field_id_15 != ''  to query --}