<div class="container">
	<div class="row row_spaced">
		<div class="span3">
			<h1 style="margin: 0;">
				<a href="/clients/">
					Our Clients{if segment_3 =='designers-illustrators'}: Illustrators{/if}
				</a>
			</h1>
		</div>
		<div class="span3">
			<a onclick="return false;" class="btn show_all" style="{if segment_2 == 'alpha'}display:none;{/if}margin-top:6px;">
				<span class="show_text">Find by Name</span>
				<span class="hide_text" style="display: none;">hide names</span>
			</a>

			<a href="/clients/" class="btn btn-primary show_all right" style="{if segment_2 != 'alpha'}display:none;{/if}margin-top:6px;">
				<span class="">Images</span>
			</a>
	</div><!-- /span12 -->
	<div class="span6">
			{exp:search:simple_form search_in="entries" where="all" channel="clients|books" result_page="clients/search" no_result_page="clients/search_no-results" show_future_entries="yes"}<input class="big_form right" type="search" name="keywords" id="keywords" value="Search Clients & Books" onfocus="(value='')" size="18" maxlength="100" style="color:#b75416;margin-top: 6px;" ><input type="hidden" value="submit" class="submit">{/exp:search:simple_form}
	</div>

	<div class="span12">
		<p>
		Here is a sample of our clients. You can search by title and first and last name. For our full client list please select, "Find by Name."
		</p>
	</div>

	</div><!-- /row-->
</div><!-- /container-->

<style>
.big_form{
		font-size: 1.2em;
}
</style>