<h1>books channel > missing content</h1>

<hr />

{exp:channel:entries channel="books" disable="category_fields|member_data|categories" show_future_entries="yes" limit="100" order_by="entry_id" paginate="both"}

<div>			
book title: <a href="http://inkwellmanagement.com/admin.php?S=0&D=cp&C=content_publish&M=entry_form&channel_id=1&entry_id={entry_id}
">{title}</a>

<p>{exp:playa:children field="related_author" backspace="2"}by <a href="{comment_url_title_auto_path}">{title}</a>


 {/exp:playa:children}{if related_author == ''}<span style="color:  red; text-transform: uppercase; font-size: 18px;">no author relationship!</span><br />
 Static Author name: {related_author_static_field}{/if}</p>


	{if cover_image}
	{exp:ce_img:single src="{cover_image}" crop="yes|smart_scale" class="shadow" alt="{title}" width="50"}<br />
	{/if}
	
	{if cover_image == ''}<span style="color:  red;">no cover image!</span>{/if}
	
	<p class="strong">Pub Date: {entry_date format="%F %d, %Y"}</p>
	<p class="strong">ISBN: {isbn}</p>
	<p class="strong">Publisher: {if publisher}{publisher}{if:else}No publisher!{/if}</p>
	
	
	
{!--	<p><span style="color:  green;">There is no pubdate!</span></p>  --}




{!--
<p>Categories: {categories show_group="12|2" backspace="2"}{category_name}, {/categories}</p>
--}

{if description_synopsis == ''}<span style="color:  orange;">No description synopsis!</span>{/if}

<hr />
{paginate}
     <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
 {/paginate}
 
</div>

{/exp:channel:entries}