<h3><a href="/internal/">Main Internal Page</a></h3>
<h1>books channel > Sticky</h1>

<hr />
{exp:query sql="SELECT field_id_3, url_title, title, field_id_130
FROM exp_channel_titles LEFT JOIN exp_channel_data
ON exp_channel_titles.entry_id = exp_channel_data.entry_id
WHERE exp_channel_titles.channel_id = '1'
AND status = 'open'
AND sticky = 'y'
ORDER BY entry_date
limit 100000"}



book title: <a href="http://inkwellmanagement.com/admin.php?S=0&D=cp&C=content_publish&M=entry_form&channel_id=1&entry_id={entry_id}
">{title}</a>



  {exp:ce_img:single src="{field_id_130}" crop="yes|smart_scale" class="shadow" alt="{title}" width="50"}<br />


<hr />

{/exp:query}

