{if logged_in}



Click on the link to download a csv list of titles
<h3><a href="/internal/book-list">Book List</a></a></h3>
<h3><a href="/internal/author-list">Author List</a></a</h3>



<hr />


Reports

<h3><a href="/internal/missing_author_bios">Missing Author Bios</a></h3>
<h3><a href="/internal/missing_author_photos">Missing Author Photos</a></h3>
<h3><a href="/internal/missing_content_books">Missing Book Info</a></h3>
<h3><a href="/internal/missing_content_books">Missing Book Metadata Description</a></h3>







{/if}