Clients: Missing Content

<hr />

{exp:channel:entries channel="clients" limit="100" disable="categories|category_fields|member_data" orderby="person_name_last" paginate="both"}

<div>

<h2>{title}</h2>

	<a href="{comment_url_title_auto_path}" class="portrait_flow" title="{title}">
	{person_image}
		{if image}
			{exp:ce_img:single src="{image}" title="{title}" max_width="100" alt="{title}"}
		{if:else}<span style="color: pink;">No image for this person!</span>{/if}
	{/person_image}<br />
	</a>
				

{if person_links}
	<ul class="sidebar_list" style="list-style-type: none;margin: 20px 0 20px 0;">
		{person_links}
		{if field_row_count =='1'}<h4>Links</h4>{/if}
		<li><a href="{if link_description =='Twitter'}http://twitter.com/{/if}{link}">&raquo; {link_description}</a></li>
		{/person_links}
	</ul>
{/if}

				
{exp:playa:parents channel="blog|notices"  orderby="date" sort="desc"}
	{if count =='1'}<h4 style="margin-top: 1em;">Related Videos & News</h4>{/if}
	<h4 class="small"><a href="{comment_url_title_auto_path}">{if article_video_embed}<img src="/images/global/video_list_icon.gif" height="12" width="11"/> {/if}{title}</a></h4>
{/exp:playa:parents}

{if person_description_text == ''}<span style="color: red;">No description!</span>{/if}


			{!-- logic for showing a message if there are no related books is not working. hiding this for now. 
			<p>This author's books:</p>
					{exp:playa:parents channel="books" orderby="date" sort="desc" show_future_entries="yes"}
					<p class="caption margin_none small">{title}</p>
					
					<a href="{comment_url_title_auto_path}">	
						<div class="pull-left cover_flow" style="width: 134px; margin-right:20px;">
							{editions}
					{if {editions:total_rows} > 0}
							<div style="margin-bottom: 10px;">{exp:ce_img:single src="{cover_image}" width="134" crop="yes|smart_scale" max_width="50" alt="{title}"}
							</div>
					{if:else}
					<span style="color: orange;">no related books for this author!</span>
					{/if}
							{/editions}
						</div>
					</a>
					
					{/exp:playa:parents}
			--}


<hr />
{paginate}
     <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
 {/paginate}
 
</div>

{/exp:channel:entries}	