<h3><a href="/internal/">&laquo; Main Internal Page</a></h3>
<h1>books channel > missing description</h1>

<hr />

{exp:channel:entries channel="books" search:description_short="IS_EMPTY" disable="category_fields|member_data|categories" show_future_entries="yes" limit="100" order_by="date" paginate="both"}

<div>
book title: <a href="http://inkwellmanagement.com/admin.php?S=0&D=cp&C=content_publish&M=entry_form&channel_id=1&entry_id={entry_id}
">{title}</a>

{if description_short == ''}<span style="color:  orange;">No description synopsis!</span>{/if}

<hr />
{paginate}
     <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
 {/paginate}

</div>

{/exp:channel:entries}