{embed="global/_page_top" page_title="Clients" body_id="clients" meta="company"}

{embed="clients/_top_section"}
		
	

<div class="page_wrapper"><!-- these open the footer 	-->
	<div class="container"><!-- these open the footer 	-->
	
	
	
			
	{embed="clients/_client_list_text" key="value"}



		<div class="row" style="{if segment_2 == 'alpha'}display:none;{/if}">
<!-- /these open the footer 	-->
			<div class="span12">
				
								
<div class="short_list" id="images">

	<h2>{lang:search_results}</h2>


	<div class="box">
		<h3>{lang:keywords}: {exp:search:keywords}, {exp:search:total_results} results</h3>
<hr />
		{exp:search:search_results switch="resultRowOne|resultRowTwo"}
		
		<div class="block_image" style="height: 280px;">
		<a href="{auto_path}" class="" title="{person_name_first} {person_name_last}">
		{exp:ce_img:single src="{field_id_131}" class="image_info shadow" title="{title}" width="140" height="140"  quality="100" crop="yes|center,{field_id_132}|0,0|smart_scale" alt="{title}"}
		
		
{exp:ce_img:single src="{cover_image}" width="134" crop="yes|smart_scale" height="201" class="shadow cover_image" alt="{title}" title="{title}"}
		
		
		<br />
		<h4 style="margin-top: 4px;font-size: 11px;">{title}</h4>
		</a>
		</div>
		{/exp:search:search_results}

	</div><!--	/box -->


</div><!-- /shor_list -->		



		{!-- embed="global/_footer" --}

<!-- these close the footer 	-->
	</div><!-- /row -->
</div><!-- /container -->
<!-- /these close the footer 	-->
</div><!-- /page_wrapper -->
 

{embed="global/_page_bottom"}