<div id="buylist">
<ul>
<li class="amazon"><a target="_blank" href="http://www.amazon.com/gp/search?keywords={embed:isbn}&index=books" onClick="javascript: pageTracker._trackPageview('/outgoing/Amazon.com');" title="{title}"></a></li>

<li class="bn"><a target="_blank" href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={embed:isbn}" onClick="javascript: pageTracker._trackPageview('/outgoing/barnesandnoble.com');" title="{title}"></a></li>

<li class="indiebound"><a target="_blank" href="http://www.booksense.com/product/info.jsp?isbn={embed:isbn}" onClick="javascript: pageTracker._trackPageview('/outgoing/booksense.com');" title="{title}"></a></li>




</ul>
</div>