{embed="global/_page_top" page_title="Books" body_id="books" meta="company"}
{embed="books/_top_section"}
<div class="page_wrapper"><!-- these open the footer  -->
  <div class="container"><!-- these open the footer   -->
    {embed="books/_books_list_text" key="value"}
    <div class="row" style="{if segment_2 == 'alpha'}display:none;{/if}">
      <!-- /these open the footer   -->
      <div class="span12">
        <div class="short_list" id="images">
          {exp:channel:entries channel="books" limit="53" disable="categories|category_fields|member_data|pagination" orderby="date" sort="desc" sticky="yes"}
            <a href="{comment_url_title_auto_path}">
              {exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}" style="margin-right:18px;float:left;margin-bottom:18px;"}                  
            </a>              
          {/exp:channel:entries}
        </div>
      </div><!-- /span6 -->
    {embed="global/_footer"}
<!-- these close the footer   -->
  </div><!-- /row -->
</div><!-- /container -->
<!-- /these close the footer  -->
</div><!-- /page_wrapper -->
{embed="global/_page_bottom"}

{!-- {if sticky == 'y'} --}