{embed="global/_page_top" page_title="Videos" body_id="{segment_1}" meta="company"}
<div class="container">
	<div class="row" style="padding: 3em 0;">		
		<div class="span10">
			<h1>Videos</h1>
		</div>	
	</div><!--	/row -->
</div><!-- /container -->
	
	
<div class="page_wrapper">	
	<div class="container">
		<div class="row">
			<div class="span8">

				{exp:channel:entries channel="blog" limit="5" disable="categories|category_fields|member_data|pagination" orderby="date" sort="desc"}
					{exp:antenna url='{video_link}' cache_minutes="120" max_width="620"}
						{if embed_code}
							{embed_code}
						{if:else}
							No video to display here.
						{/if}
					{/exp:antenna}
					<p class="">{title}<br />{article_description}</p>
					<p class=""><strong>
						{exp:playa:children channel="clients"  orderby="date" sort="desc" backspace="2"}
							{if count =='1'}Related Client: {/if}
							<a href="{comment_url_title_auto_path}">{title}</a>, {/exp:playa:children}
					</strong></p>
					<hr style="border-bottom: 1px solid #ddd;margin-bottom:4em;"/>			
				{/exp:channel:entries}
			</div>

			<div class="span4">

				<div id="videos">
						<h5>Latest News</h5>
					{exp:channel:entries channel="news" disable="category_fields|member_data|pagination" limit="3" dynamic="no" orderby="date" sort="desc"}
		

		
						<h4{if count > '1'} style="margin-top:2em;"{/if}><a href="{comment_url_title_auto_path}">{title}</a></h4>
								<ul class="inline-list" style="margin: 0;">
								{entry_date format="%F %d, %Y"} 
								</ul>				
										
						
						
						
							
					{/exp:channel:entries}
<h5>More Videos</h5>
					{exp:channel:entries channel="blog" limit="16" offset="5" disable="categories|category_fields|member_data" orderby="date" sort="desc" dynamic="no" paginate="bottom"}
				
					<div class="videoTK" style="overflow: hidden;background-color: #f2f2f2;width: 140px;height: 215px;float: left;margin: 0px 10px 10px 0px;{if "{url_title}" == '{segment_2}'}display:none;{/if}">
						<a href="{comment_url_title_auto_path}" id="{url_title_path}" title="{title}">
							{exp:antenna url='{video_link}' cache_minutes="120" max_height="105"}<img src="{video_thumbnail}" width="140" style="height: 105px;max-height: 105px;" />{/exp:antenna}
				
							<p class="small" style="padding: 4px 12px;">{title}</p>
						</a>
				<!--		<p class="small">
							{exp:playa:children channel="clients"  orderby="date" sort="desc" backspace="2"}
								{if count =='1'}Related Client: {/if}
							<a href="{comment_url_title_auto_path}">{title}</a>, {/exp:playa:children}
						</p>-->
					</div>						
				
				{/exp:channel:entries}

				</div>

		</div>





 {embed="global/_footer"}
	</div>
</div><!-- /container -->
</div><!-- /page_wrapper -->

{embed="global/_page_bottom"}