{embed="global/_page_top" page_title="Books" body_id="books" meta="company"}
{!-- embed="global/_announcements" --}


<div class="sixteen columns">


	<div class="two-thirds column alpha">
		<h2>Search</h2>
		{embed="search/_filter"}
	</div>


	<div class="one-third column omega">
	<div class="box light">
	<h3>Searching the site</h3>
	
	<p>Searching here will allow you to find entries across the site.</p>
	
	
	</div>

	</div>


</div><!-- END box -->	


<div class="sixteen columns">
<div class="box" style="height:200px;">&nbsp;</div>
	


{embed="global/_page_bottom"}