<div class="push"></div>
</div><!-- /END wrapper -->

<footer id="content-info" class="clearfix footer-style" role="contentinfo">
    <div class="container">
	   <div class="row">
		  <div class="span5">
			<p class="small caption">&copy; 2012 <a href="/">Inkwell Management</a> &#124; <span class="">site by <a href="http://sonnetmedia.net" id="{url_title_path}" title="{title}">Sonnet Media</a></span></p>
		  </div>
<style>
footer ul{text-align: right;
	margin: 0;
}
footer ul li{
	list-style-type: none;
	display: inline;
	text-align: right;
	margin-left: 1em;
}

footer ul li.active a{
	color: #999;
}
</style>

        <div class="span7">
          <div class="pull-right hidden-phone">
            {embed="search/_form"}
          </div>
        </div>
	  </div>
    </div>
</footer>

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/jquery.cycle2.min.js"></script>
<script src="/static/js/jquery.masonry.min.js"></script>

<script type="text/javascript">
 $(document).ready(function(){

    $('a.show_all').click(function(){

    $(".all_entries, .hide_text, .short_list, .buying-options").slideToggle(100);
    $(".show_text").delay(100).slideToggle(100);



});





 (function() {
"use strict";

var slideshows = $('.cycle-slideshow');

// optional: sort the slideshow collection based on the value of the data-index attribute
Array.prototype.sort.call( slideshows, function(a, b) {
    a = $(a).data('index'), b = $(b).data('index');
    return a < b ? -1 : a > b ? 1 : 0;
});

// bind to cycle-after to trigger next slideshow's transition
$('#slidedeck_frame').on('cycle-after', function(e) {
    var index = slideshows.index(e.target);
    transitionNext(index);
});

// trigger the initial transition after 1 second
setTimeout(transitionNext, 3000);

function transitionNext( index ) {
    if (index === undefined || index == slideshows.length -1 )
        index = 0;
    else
        index++;

    slideshows.eq(index).cycle('next');
}

})();

var $container = $('#bios');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.bio',
    columnWidth : 13
  });
});


$(function(){
  $('#videos').masonry({
    // options
    itemSelector : '.video',
    columnWidth : 210
  });
});



$('.tooltip').tooltip();
$('.show_extended_banner').keyup(function(){$("#banner_extended, .hide_extended").slideDown(600);});
$("#show_log_in").click(function(){$("#log_in").slideToggle('slow');});
$("#show_email_signup").click(function(){$("#email_signup, .banner_special").slideToggle('slow');});

//show the search results as soon as the user starts to type
$('.show_filtered_results').keyup(function(){$(".search_list_images").slideDown(600);
$('.short_list').slideUp(300);
});

    $("#filter").keyup(function(){


        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;

        // Loop through the content list
        $(".search_list_images .block_image").each(function(){

            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();

            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });

        // Update the count
//        var numberItems = count;
  //      $("#filter-count").text("Do any of these help? = "+count);
    });



 });

</script>
</body>
</html>
