<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6" > <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Open Graph + Tags -->
  {if embed:meta == "book"}
  {exp:channel:entries channel="books" limit="1" disable="categories|category_fields|member_data|pagination" require_entry="yes" show_future_entries="yes"}
    <title>{title}{related_author} by {title}{/related_author} at {site_name}</title>
    <meta property="og:title" content="{title}{related_author} by {title}{/related_author}"/>
    <meta property="og:type" content="book"/>
    <meta property="og:image" content="{cover_image}"/>
    <meta property="og:url" content="{comment_url_title_auto_path}"/>
  {if segment_3 ==''}<link rel="canonical" href="{comment_url_title_auto_path}"/>
    <meta property="og:description" content="{description_short}"/>
    <meta property="og:isbn" content="{if isbn}{isbn}{if:else}{isbn_paperback}{/if}"/>
    <meta name="DC.description" content="{description_short}" />
    <meta name="description" content="{description_short}" />
    {/if}
    <meta name="DC.subject" content="{title}{related_author} by {title}{/related_author} at {site_name}" />
  {/exp:channel:entries}

  {if:elseif embed:meta == "author"}
  {exp:channel:entries channel="clients" limit="1" disable="category_fields|member_data|pagination" require_entry="yes" show_future_entries="yes"}
    <title>{title} &#124; {site_name}</title>
    <meta property="og:title" content="{title}"/>
    <meta property="og:type" content="author"/>
    <meta property="og:image" content="{person_image}"/>
    <meta property="og:url" content="{comment_url_title_auto_path}"/>
   {if segment_3 ==''}<link rel="canonical" href="{comment_url_title_auto_path}"/>{/if}
    <meta property="og:description" content="{person_description_text}"/>
    <meta name="DC.description" content="{exp:eehive_hacksaw}{person_description_text}{/exp:eehive_hacksaw}" />
    <meta name="description" content="{exp:eehive_hacksaw}{person_description_text}{/exp:eehive_hacksaw}" />
    <meta name="DC.subject" content="{title} at {site_name}" />
  {/exp:channel:entries}

  {if:elseif embed:meta == "article"}
    {exp:channel:entries channel="articles|blog|notices" limit="1" dynamic="yes" disable="categories|member_data|pagination" status="open"}
      <title>{embed:page_title} - {title} at {site_name}</title>
      <!-- Open Graph Standard Tags-->
      <meta property="og:title" content="{title}"/>
      <meta property="og:type" content="article" />
      {if article_image}
      <meta property="og:image" content="{article_image}{image}{/article_image}"/>
      {/if}
      <meta property="og:url" content="{comment_url_title_auto_path}"/>
      <link rel="canonical" href="{comment_url_title_auto_path}"/>
      <!--Open Graph addtional Tags-->
      <meta property="og:description" content="{article_description}{exp:strip_html}{article_description_text}{/exp:strip_html}{/article_description}"/>
      <meta name="DC.description" content="{article_description}{exp:strip_html}{article_description_text}{/exp:strip_html}{/article_description}" />
      <meta name="description" content="{article_description}{exp:strip_html}{article_description_text}{/exp:strip_html}{/article_description}" />
      <meta name="DC.subject" content="{title} at {site_name}" />
    {/exp:channel:entries}
{if:else}
    <title> {if segment_4}{segment_4}{/if} {if segment_1} {exp:channel:entries channel="static" url_title="{segment_1}" disable="categories|category_fields|member_data|pagination"}{title}{/exp:channel:entries}{embed:page_title} &#124; {/if} {site_name} </title>
    <!-- Open Graph Standard Tags-->
    <meta property="og:title" content="{site_name}"/>
    <meta property="og:type" content="company"/>
    <meta property="og:image" content="http://inkwellmanagement.com/images/global/nd_banner_name_290x60.png"/>
    <meta property="og:url" content="http://inkwellmanagement.com"/>
    <!--Open Graph addtional Tags-->
    <meta property="og:description" content="{site_description}"/>
    <meta name="Description" content="{site_description}">
    {/if}
    <meta name="robots" content="index, follow" />

    <!--Standard Meta Tags-->

    <meta name="author" content="{site_name}" />
    <meta name="DC.creator" content="{site_name}" />
    <meta name="DC.publisher" content="Inkwell Management Literary Agency" />
    <meta name="DC.language" content="en" />
    <meta property="og:site_name" content="{site_name}"/>




      <!--Facebook Administrators-->
      <meta property="fb:admins" content="1726253568"/>

      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!--END header_site-->

      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
      <!-- Favicon -->
      <link rel="shortcut icon" href="/favicon.ico">

      <!-- CSS -->
      <link rel='stylesheet' type='text/css' media='all' href='{stylesheet=stylesheets/stylesheet}' />
      <!--<link rel='stylesheet' type='text/css' media='all' href='{stylesheet=styles/styleTK}' />-->
      <link rel='stylesheet' type='text/css' media='print' href='{stylesheet=global/css_print}' />
      <!--[if lt IE 7]>
      <link rel="stylesheet" href="{stylesheet=global/css_ie}" type="text/css" media="screen, projection">
      <![endif]-->

      <link rel="alternate" type="application/rss+xml" title="RSS" href="http://inkwellmanagement.com/news/feed/" />



      <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
      </script>

  <script type="application/x-javascript">

  if (navigator.userAgent.indexOf('iPhone') != -1) {
  addEventListener("load", function() {
  setTimeout(hideURLbar, 0);
  }, false);
  }

  function hideURLbar() {
  window.scrollTo(0, 1);
  }

  </script>

  <script type="text/javascript" src="http://use.typekit.com/pcm4tjr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21655936-36']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>
<body id="{embed:body_id}">
<div class="visible-phone">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" style="color:#FFF ;">{site_name}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {if segment_1 ==''} class="active"{/if}><a accesskey="1" href="/">Home</a></li>
              <li {if segment_1 =='about'} class="active"{/if}><a href="/about/" accesskey="2">About</a></li>
              <li {if segment_1 =='clients'} class="active"{/if}><a accesskey="3" href="/clients/">Authors</a></li>
              <li {if segment_3 =='young-readers'} class="active"{/if}><a href="/clients/category/young-readers">Young Readers</a> </li>
              <li {if segment_3=='designers-illustrators'} class="active"{/if}><a href="/clients/category/designers-illustrators">Illustrators</a></li>
              <li {if segment_1 =='rights-and-permissions'} class="active"{/if}><a accesskey="4" href="/rights-and-permissions/">Rights & Permissions</a></li>
              <li {if segment_1 =='contact'} class="active"{/if}><a href="/contact/" accesskey="5">Contact</a></li>
              <li {if segment_1 =='news'} class="active"{/if}><a href="/news/" accesskey="6">News</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper">
  <div style="position: fixed; width: 100%; background: white; height: 145px; z-index: 1000;">
  <div class="navbar hidden-phone">
    <div class="navbar-inner">
      <div class="container" style="width: 962px;margin: 0 auto;">
        <div class="row">
          <div class="span2 columns">
            <header style="padding-top: 2em;">
              <h1 onclick="location.href='{path='site_index'}';" style="cursor: pointer;padding:0;" class="">
                <img src="/static/images/global/inkwell-logo-green.png" alt="" style="width: 165px;max-width: 597px;" />
              </h1>
            </header>
          </div>
          <div class="span10">
            <div class="pull-right" style="margin-top: 5px;">
            {embed="search/_form"}
              <a href="http://twitter.com/{twitter_username}" class="social_button"><img src="/static/images/icons/twitter.png" alt="" /></a>
              <a href="http://www.facebook.com/InkWellManagement" class="social_button"><img src="/static/images/icons/facebook.png" alt="" /></a>
              <a href="http://inkwellmanagement.tumblr.com/" class="social_button" ><img src="/static/images/icons/tumblr.png" alt="" /></a>

              <a href="http://instagram.com/inkwellmgmt" class="social_button"><img src="/static/images/icons/instagram.png" alt="" style="height: 24px;"/></a>
              <a href="https://www.goodreads.com/user/show/58672419-inkwell-management" class="social_button"><img src="/static/images/icons/goodreads.png" alt="" style="height: 24px;"/></a>
            </div>
          <div class="span9 offset1" style="padding-bottom: 20px;">
            <nav class="pull-rightF">
              <ul class="nav nav-pills" style="margin-top: 12px;">
                <!-- <li{if segment_1 ==''} class="active"{/if}><a href="/">Home</a></li> -->
                <li {if segment_1 =='clients' AND segment_2 ==''} class="active"{/if}><a href="/clients/">Authors</a> </li>
                <li {if segment_3 =='young-readers'} class="active"{/if}><a href="/clients/category/young-readers">Young Readers</a> </li>
                <li {if segment_3=='designers-illustrators'} class="active"{/if}><a href="/clients/category/designers-illustrators">Illustrators</a> </li>
                <li {if segment_1 =='about'} class="active"{/if}><a href="/about/" >Our Team</a></li>
                <li {if segment_1 =='rights-and-permissions'} class="active"{/if}><a href="/rights-and-permissions/">Rights & Permissions</a></li>
                <li {if segment_1 =='contact'} class="active"{/if}><a href="/contact/">Contact</a></li>
              </ul>
            </nav>
          </div><!-- /span10 -->
        </div><!-- /row -->
      </div>
    </div>
  </div>
  </div>
</div><!-- /wrapper -->
<div style="height: 165px;"></div>