{!-- hiding entire top to figure out memory error
<div class="search_list_images" id="images" style="display: none;">
<!--person_name_last-->
	{exp:channel:entries channel="{embed:channel}" category="{embed:cat}" disable="categories|category_fields|member_data" orderby="random" sort="asc" limit="18000"}
	<div class="block_image">
		<a href="{comment_url_title_auto_path}" class="" title="{person_name_first} {person_name_last}">
			
			
				{exp:ce_img:single src="{person_image}" class="image_info shadow" title="{title}" width="140" height="140"  quality="100" crop="yes|center,{image_position}|0,0|smart_scale" alt="{title}"}
			<br />
			
--}
				{!-- standalone file field for image: was using for testing import
				{exp:ce_img:single src="{image_file_clients}" class="image_info shadow" title="{title}" width="140" height="140"  quality="100" crop="yes|center,{image_position}|0,0|smart_scale" alt="{title}" s}
				--}
			
{!--
			<h4 style="margin-top: 4px;font-size: 11px;">{title}</h4>
		</a>
	</div>
	{/exp:channel:entries}
</div>	
--}





<div class="search_list_imagesX short_list" id="images">
<!--person_name_last-->
	{exp:channel:entries channel="{embed:channel}" search:person_image="not IS_EMPTY" category="{embed:cat}" disable="category_fields|member_data" orderby="random" limit="18"}
	<div class="block_image">
		<a href="{comment_url_title_auto_path}" class="" title="{person_name_first} {person_name_last}">


				{exp:ce_img:single src="{person_image}" class="image_info shadow" title="{title}" width="140" height="140"  quality="100" crop="yes|center,{image_position}|0,0|smart_scale" alt="{title}" s}
			<br />


			<h4 style="margin-top: 4px;font-size: 11px;">{title}</h4>
		</a>
	</div>
	{/exp:channel:entries}
</div>	





