{embed="global/_page_top" page_title="Home" body_id="home" meta="company"}

<div class="container">
<div class="row primary_canvas">
	<div class="span6">
		{exp:channel:entries dynamic="no" url_title="mission-statement" channel="static" disable="categories|category_fields|member_data|pagination"}
			<div class="mission_statment" style="margin-top: ;">
				{static_text}
			</div>
		{/exp:channel:entries}
	</div>			


	<div class="span6">
		<div id="slidedeck_frame">
            <dl class="slideshow">	
		{exp:channel:entries channel="books" limit="12" offset="0" disable="categories|category_fields|member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
		<dd{if count >'3'} style="display:none;"{/if}>
		
		<a href="{comment_url_title_auto_path}" class="pull-left tooltip" title="{title}" style="width: 130px;margin: 4px 18px 8px 0px;">	
		{!-- leave the div in place --}
			{exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}"}
		</a>
		
		</dd>
		{/exp:channel:entries}
	</dl>


        <dl class="slideshow_two">	
	{exp:channel:entries channel="books" limit="12" offset="12" disable="categories|category_fields|member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
	<dd{if count >'3'} style="display:none;"{/if}>
	
	<a href="{comment_url_title_auto_path}" class="pull-left tooltip" title="{title}" style="width: 130px;margin: 4px 18px 8px 0px;">	
	{!-- leave the div in place --}
		{exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}"}
	</a>
	
	</dd>
	{/exp:channel:entries}
</dl>



        <dl class="slideshow_three hidden-phone">	
	{exp:channel:entries channel="books" limit="12" offset="24" disable="categories|category_fields|member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
	<dd{if count >'3'} style="display:none;"{/if}>
	
	<a href="{comment_url_title_auto_path}" class="pull-left tooltip" title="{title}" style="width: 130px;margin: 4px 18px 8px 0px;">	
	{!-- leave the div in place --}
		{exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}"}
	</a>
	
	</dd>
	{/exp:channel:entries}
</dl>

















	</div>
<script type="text/javascript">
            /* Initiate the SlideDeck */
    		$('.skin-super-simple dl.slidedeck').slidedeck({
				autoPlay: true,
				cycle: true,
				hideSpines: true,
				autoPlayInterval: 2500, // 2.5 seconds
			});
		</script>
	
	
	</div><!-- /span6 columns -->	
	
	
<!--	div style="margin-right:1%;"-->

</div><!--	/row -->
</div>
	
	
<div class="page_wrapper">
<div class="container">
	<div class="row">
		{embed="home/_body"}
	</div><!-- /row -->
</div><!-- /container -->
</div><!--	/page_wrapper -->

 

{embed="global/_page_bottom"}