{embed="global/_page_top" page_title="Home" body_id="home" meta="company"}


<div class="container">
  <div class="row primary_canvas">

<style type="text/css">
img.shadow {
  background: none;
}
</style>

      <div id="slidedeck_frame">
        <div class="row">
          <div class="span3 visible-tablet visible-desktop visible-phone cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-reverse=true
            data-cycle-timeout=0
            data-cycle-speed=2000
            data-index=1>
              {exp:channel:entries channel="books" category="102" limit="5" offset="0" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}
              {/exp:channel:entries}
            </div>
            <div class="span3 visible-desktop visible-tablet cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-timeout=0
            data-cycle-speed=2000
            data-index=6>
              {exp:channel:entries channel="books" category="102" limit="5" offset="5" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}
              {/exp:channel:entries}
            </div>
            <div class="span3 visible-desktop visible-tablet cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-timeout=0
            data-cycle-reverse=true
            data-cycle-speed=2000
            data-index=3>
              {exp:channel:entries channel="books" category="102" limit="5" offset="10" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}
              {/exp:channel:entries}
            </div>
            <div class="span3 visible-desktop visible-tablet cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-timeout=0
            data-cycle-reverse=true
            data-cycle-speed=2000
            data-index=8>
              {exp:channel:entries channel="books" category="102" limit="5" offset="15" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}

                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}
              {/exp:channel:entries}
            </div>
        </div>
        <br><br>
        <div class="row">
          <div class="span3 visible-tablet visible-desktop visible-phone cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-reverse=true
            data-cycle-timeout=0
            data-cycle-speed=2000
            data-index=5>
              {exp:channel:entries channel="books" category_group="12" limit="5" offset="1" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}
              {/exp:channel:entries}
            </div>
            <div class="span3 visible-desktop visible-tablet cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-timeout=0
            data-cycle-speed=2000
            data-index=2>
              {exp:channel:entries channel="books" category_group="12" limit="5" offset="6" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}
                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}
              {/exp:channel:entries}
            </div>
            <div class="span3 visible-desktop visible-tablet cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-timeout=0
            data-cycle-reverse=true
            data-cycle-speed=2000
            data-index=7>
              {exp:channel:entries channel="books" category_group="12" limit="5" offset="11" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}

                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}


              {/exp:channel:entries}
            </div>
            <div class="span3 visible-desktop visible-tablet cycle-slideshow" data-cycle-fx=scrollVert
            data-cycle-timeout=0
            data-cycle-reverse=true
            data-cycle-speed=2000
            data-index=4>
              {exp:channel:entries channel="books" category_group="12" limit="5" offset="16" disable="member_data|pagination" orderby="date" sort="desc" search:cover_image="not IS_EMPTY"}

                  {exp:ce_img:pair src="{cover_image}" width="220" crop="yes|smart_scale" height="330"}
                  <img src="{made}" width="{width}" height="{height}" class="shadow" alt="{title}" title="{title}" onclick="location.href='client/{related_author}{url_title}{/related_author}';" >
                  {/exp:ce_img:pair}

              {/exp:channel:entries}
            </div>
        </div>
    </div>



<div class="page_wrapper">
  <div class="container">
    <div class="row">
      {!-- embed="home/_body" --}
      <div class="span12">
        <h2>Latest</h2>
      </div>
    </div>

    <div class="row">
      {exp:channel:entries channel="news" limit="6" offset="" disable="category_fields|member_data|pagination" orderby="date" sort="desc"}
      <div class="span6 home-news">
        <h3 style="margin-top:1.5em;margin-bottom:.5em;">
          <a href="{comment_url_title_auto_path}" id="{url_title_path}" title="{title}">
            {title}
          </a>
        </h3>
        <ul style="margin:0;" class="inline-list"><li>{entry_date format="%F %d, %Y"}</li><li>{exp:playa:children field="article_related_author" backspace="1"}{if count =='1'} | News about {/if}</li><li><a href="{path=client/{url_title}}">{title}</a></li><li>,{/exp:playa:children}</li></ul>
        {article_description}
        </div>
      {/exp:channel:entries}
    </div>

    <div class="row">
      {!-- embed="home/_body" --}
      <div class="span12">
        <h2><h2 style="margin-top:2em;"><a href="/videos/">Also, see our Videos</a></h2></h2>
      </div>
    </div>

  </div><!-- /container -->
</div><!--  /page_wrapper -->
</div>
{embed="global/_page_bottom"}
{if logged_in_group_id == '100'}
  <?php
 echo('START TIME: ');
 echo($start_time);
 echo('<br /> END TIME: ');
 echo($end_time);
  ?>
 {/if}