{embed="global/_page_top" page_title="Home" body_id="home" meta="company"}
<script type="text/javascript">
        /* Initiate the SlideDeck */
		$('.skin-super-simple dl.slidedeck').slidedeck({
			autoPlay: true,
			cycle: true,
			hideSpines: true,
			autoPlayInterval: 2500, // 2.5 seconds
		});
	</script>

<div class="container">
	<div class="row primary_canvas">
		<div class="span6">
			{exp:channel:entries dynamic="no" url_title="mission-statement" channel="static" disable="categories|category_fields|member_data|pagination"}
				<div class="mission_statment" style="margin-top: ;">
					{static_text}
				</div>
			{/exp:channel:entries}
			<div class="visible-phone">
				<h2><a onclick="return false;" class="show_all">View Map</a></h2>
				<div class="hide_text" style="display:none ;">{google_map}</div>
			</div>
		</div>

<style type="text/css">
img.shadow {
	background: none;
}
</style>
		<div class="span6">
			<div id="slidedeck_frame">
	            <div class="slideshow cycle-slideshow" data-cycle-fx=scrollVert
        data-cycle-reverse=true
        data-cycle-timeout=0
        data-cycle-speed=2000
        data-cycle-slides="a"
        data-index=1>
          {exp:channel:entries channel="books" limit="12" offset="0" disable="categories|category_fields|member_data|pagination" orderby="random" search:cover_image="not IS_EMPTY"  show_future_entries="yes"}

							<a href="{comment_url_title_auto_path}">{exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}"}</a>
					{/exp:channel:entries}
				</div>
		        <div class="slideshow_two  cycle-slideshow" data-cycle-fx=scrollVert
        data-cycle-timeout=0
        data-cycle-speed=2000
        data-cycle-slides="a"
        data-index=2>
          {exp:channel:entries channel="books" limit="12" offset="0" disable="categories|category_fields|member_data|pagination" orderby="random" search:cover_image="not IS_EMPTY"  show_future_entries="yes"}

							<a href="{comment_url_title_auto_path}">{exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}"}</a>
					{/exp:channel:entries}
				</div>
		        <div class="slideshow_three visible-desktop  cycle-slideshow" data-cycle-fx=scrollVert
        data-cycle-timeout=0
        data-cycle-reverse=true
        data-cycle-speed=2000
        data-cycle-slides="a"
        data-index=4
>
         {exp:channel:entries channel="books" limit="12" offset="0" disable="categories|category_fields|member_data|pagination" orderby="random" search:cover_image="not IS_EMPTY"  show_future_entries="yes"}

						{!-- leave the div in place --}
							<a href="{comment_url_title_auto_path}">{exp:ce_img:single src="{cover_image}" width="130" crop="yes|smart_scale" height="195" class="shadow" alt="{title}" title="{title}"}</a>
					{/exp:channel:entries}
				</div>
			</div>
		</div><!-- /span6 columns -->
	</div><!--	/row -->
</div>
<div class="page_wrapper">
<div class="container">
	<div class="row">
		<div class="span6">
<h2>Latest News</h2>
{exp:channel:entries channel="news" limit="3" offset="" disable="category_fields|member_data|pagination" orderby="date" sort="desc"}
<h3 style="margin-top:1.5em;margin-bottom:.5em;">
	<a href="{comment_url_title_auto_path}" id="{url_title_path}" title="{title}">
		{title}
	</a>
</h3>
<ul style="margin:0;" class="inline-list"><li>{entry_date format="%F %d, %Y"}</li><li>{exp:playa:children field="article_related_author" backspace="1"}{if count =='1'} | News about {/if}</li><li><a href="{path=client/{url_title}}">{title}</a></li><li>,{/exp:playa:children}</li></ul>
{article_description}
{/exp:channel:entries}
<h2 style="margin-top:2em;">Also, see our <a href="/books/latest/">Latest Books</a> or <a href="/videos/">Videos</a></h2>
</div><!-- /five columns -->
		<style>
		.twitter-follow-button{
		margin-bottom: -12px;
		}
		</style>
				<div class="span5 offset1">

					<h2>Connect with Us
					<a href="http://inkwellmanagement.tumblr.com/" class="social_button" ><img src="/static/images/icons/tumblr.png" alt="" /></a>
						<a href="http://www.facebook.com/InkWellManagement" class="social_button"><img src="/static/images/icons/facebook.png" alt="" /></a>
						<a href="http://twitter.com/{twitter_username}" class="social_button"><img src="/static/images/icons/twitter.png" alt="" /></a>

					</h2>
<a class="twitter-timeline" href="https://twitter.com/Inkwellmgmt" data-widget-id="245328987579092993">Tweets by @Inkwellmgmt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



			</div><!-- columns -->

		<!--END HOME _BODY -->

	</div><!-- /row -->
</div><!-- /container -->
</div><!--	/page_wrapper -->
{if logged_in_group_id == '100'}
 	<?php
 echo('START TIME: ');
 echo($start_time);
 echo('<br /> END TIME: ');
 echo($end_time);
 	?>
 {/if}


{embed="global/_page_bottom"}